@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar .highlight {
    background: #ffeb3b !important; /* Yellow background */
    color: black !important;
    border-radius: 50%;
}
